extend layout

block page_title 
  title Ceci est le tritre de la page 

block greeting
  h1 Здраво свете! 

block software_engineer
  p Ускоро ћу бити софтверски инжењер!
  img(src="/images/earth.jpg" alt="La planète Terre" title="La planète Terre")