extends layout

block page_title
  title Este es el titulo de la pagina.

block greeting
  h1 ¡Que pasa Mufasa! 

block software_engineer
  p ¿Canelita en rama? You can bet.
  img(src="/images/earth.jpg" alt="The Earth" title="The Earth")